<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">¿Qué deberías saber de mí?</h2>
                <hr class="light">
                <p class="text-faded">¡Hola! Soy Amalia Guaymás Canavire pero todos me conocen como Amy. Argentina, marrón, y latina. Profesional, apasionada por los datos. Me encanta trabajar con personas que comparten convicción y pasión por lo que hacen. Disfruto conectar equipos humanos e integrar disciplinas.
Respeto y agradezco a la naturaleza. Feliz de encontrar ideas, proyectos útiles, colectivos que colaboren a una sociedad más justa, diversa y respetuosa con el ambiente.
</p>
                <a href="#" class="btn btn-default btn-xl">Conoceme!</a>
            </div>
        </div>
    </div>
</section>
