<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h4>Hola a todes</h4>
			<h1>Amalia Guaymás Canavire</h1>
            <hr>
            <p>Consultora independiente y activista social con especial interés en el uso de datos, algoritmos y tecnologías centrada en Derechos Humanos e Infancia.	</p>
			
        </div>
		<div class="row">
				<div class="col-lg-2 col-lg-offset-2 text-center">
					<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
						<i class="fa-brands fa-linkedin wow bounceIn" data-wow-delay=".1s"></i>
	
					</a>
				</div>
				
				<div class="col-lg-2 col-lg-offset-2 text-center">
					<a href="https://www.instagram.com/{{ site.ig_username }}">
						<i class="fa-brands fa-instagram wow bounceIn" data-wow-delay=".1s"></i>
				
					</a>
				</div>
 
				
		</div>
    </div>
</header>
